.card {
    display: inline-block;
    justify-content: center;
    background-color: magenta;
    text-align: center;
    border: 4px solid rgb(255, 255, 255);
    box-shadow: 0 36px 45px 0 rgba(0, 0, 0, 0.2), 0 36px 42px 0 rgba(0, 0, 0, 0.19);
}

.card:hover {
    background-color: rgb(53, 193, 193);
}

.card-body {
    background-color: black;
}

.card-text {
    text-align: center;
    color: aqua;
}

.card:hover {
    transform: scale(1.5);
}

.card-body, .card-text {
    font-family: Arial, Helvetica, sans-serif;
}

.animated bounceIn delay-2s {
    animation-duration: 3s;
    animation-delay: 2s;
    animation-iteration-count: infinite;

  }

  .group {
      color: white;
      font-size: 40px;
  }

  
   

  .group:hover {
      color: yellow;
  }

  .card-body:hover {
      background-color: magenta;
      color: aqua;
  }

  #logo {
      height: 50px;
      width: 50px;
      background-color: white;
      border: 3px solid white;
  }

  .bitcoin-image {
      display: inline-block;
      margin: 100px ;
  }

  #navbutton-style {
    background-color: rgb(191, 153, 245);
    height:20px;
    width:40px;
}

#container {
    margin: auto;
    width: 50%;
    border: 3px solid black;
    padding: 10px;
}

#container2 {
    margin: auto;
    width: 50%;
    border: 3px solid black;
    padding: 10px;
}

.hamburger {
    width: 35px;
    height: 5px;
    background-color: rgb(186, 255, 47);
    margin: 6px 0;
}