* {
    font-family: 'Special Elite', cursive;
    font-size: 18px;
}

body {
	background-color: rgb(159, 117, 216);
}

.header h2 {
    color: black;
    padding-top: 25px;
    text-shadow: 8px 8px lightgray;
}

h4 {
    color: black;
    padding-top: 50px;
}

h1 {
    color: aqua;
}

.p {
    padding-top: 0px;
	color: white;
}

.navbar {
    background-color: rgb(83, 21, 171);
    align-items: right;
    
}

.btn {
    background-color: rgb(80, 61, 191);
    border: rgb(224, 252, 120) solid 1px
}

.footer {
    align-self: baseline;
}

.content {
    padding-top: 20px;
}


.splash-logo {
    display: inline-block;
    justify-content: center;
    z-index: 1; 
    position: absolute; 
    top: 40%;
    transform: translateY(-50%);
    left: 0px;
    right: 0px;
    margin: auto;
    width: 100%;
    vertical-align: middle;
    height: 200px;
  }

  #title {
    display: inline-flex;
    justify-content: center;
    z-index: 2; 
    position: relative; 
    top: 0px; 
    
    color: white;
    padding-top: 50px;
    font-size: 50px;
  }

  #navbarNav {
    display: inline-flex;
    z-index: 3;
  }

  .navbar-brand, #click {
    display: inline-flex;
    justify-content: baseline;
    z-index: 3;
    position: relative; 
  }

#table {
    background-color: white;
    box-shadow: 0 36px 45px 0 rgba(0, 0, 0, 0.2), 0 36px 42px 0 rgba(0, 0, 0, 0.19);
}

#title-logo {
    display: inline-block;
    justify-content: center;
    padding: 20px;
    margin: 20px;
    text-align: center;
    text-shadow: 8px 8px magenta;
}

#main-text {
    box-shadow: 0 36px 45px 0 rgba(0, 0, 0, 0.2), 0 36px 42px 0 rgba(0, 0, 0, 0.19);
}

#navbutton-style {
    background-color: rgb(191, 153, 245);
    height:20px;
    width:40px;
}

