* {
  color: black;
}


#news-wrapper {
   
    background-color: rgb(83, 33, 168);
  }

#news-body {
  border: solid rgb(83, 33, 168) 3px;
  background-color: black;
}

#news-body a {
  text-decoration: none;
  color:rgb(151, 152, 150);
}

#news-header {
  color:aqua;
  font-size: 20px;
  padding-left: 40px;
  padding-right: 25px;
  padding-top: 10px;
}

#news {
  padding-top: 0px;
  color:magenta;
  font-size: 15px;
  padding-left: 40px;
  padding-right: 25px;
}

.animated headShake delay-2s {
    animation-duration: 5s;
    animation-delay: 2s;
    animation-iteration-count: infinite;
  }

  #navbutton-style {
    background-color: rgb(191, 153, 245);
    height:20px;
    width:40px;
}